* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

a.contactoButton {
  background: #eb1b23;
  padding: 12px 18px; }
  a.contactoButton:hover {
    background-color: transparent;
    color: #eb1b23;
    border: 1px solid #eb1b23; }

.grilla {
  display: grid;
  grid-template-areas: "header header" "main main" "footer footer";
  grid-template-columns: auto; }

header {
  display: grid;
  grid-area: header;
  background-color: #000;
  width: 100%;
  max-width: 100%; }

footer {
  display: grid;
  grid-area: footer;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  max-width: 100%; }

main {
  display: grid;
  grid-area: main;
  max-width: 100%; }

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem; }

.container2 {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
  background-color: rgba(96, 125, 139, 0.12); }

.header__logo img {
  max-width: 125px; }

.header__nav ul {
  display: flex;
  flex-wrap: wrap; }
  .header__nav ul li {
    margin: 20px; }
    .header__nav ul li a {
      color: #fff; }
      .header__nav ul li a:hover {
        color: #eb1b23;
        transition: .5s; }

.footer .container {
  display: flex;
  justify-content: space-evenly;
  margin: 0; }
  .footer .container a {
    color: #fff; }

.header .container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly; }

/* Responsive */
@media (max-width: 71.25rem) {
  .container2 {
    padding: 15px; }
  .grilla {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%; }
  .header__logo img {
    max-width: 100px; }
  .header__nav ul li a ul li a {
    font-size: 14px; }
  .footer .container {
    flex-direction: column;
    text-align: center;
    align-items: center; }
  .header .container {
    flex-direction: column; } }

@media (max-width: 267px) {
  .container {
    padding: 0px; } }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 2.5rem; }

h1 {
  font-size: 2em; }

p {
  margin-bottom: 1.5rem;
  font-size: 18px; }

.align-center {
  text-align: center; }

h3.align-center {
  margin-top: 0; }

.productos p {
  padding: 0 50px; }

@media (max-width: 48rem) {
  .productos p {
    padding: 0 15px; }
  p {
    font-size: 14px; } }

/** MAP, GET-MAP Y EXTEND **/
.banner, .bannerCerdo, .bannerVacuno, .bannerEmbutidos {
  color: #fff;
  max-width: 100%;
  height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  background-color: #323232;
  background-blend-mode: soft-light;
  background-image: url("../images/banner.jpg"); }
  .banner a, .bannerCerdo a, .bannerVacuno a, .bannerEmbutidos a {
    background: #eb1b23;
    padding: 17px 40px;
    line-height: 21px;
    font-size: 18px;
    color: #fff;
    width: 180px;
    margin: 15px 0; }
    .banner a:hover, .bannerCerdo a:hover, .bannerVacuno a:hover, .bannerEmbutidos a:hover {
      background: transparent;
      color: #eb1b23;
      border: 1px solid #eb1b23;
      transition: .5s; }
  .banner h1, .bannerCerdo h1, .bannerVacuno h1, .bannerEmbutidos h1 {
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0px;
    font-style: normal; }

.bannerCerdo {
  background-image: url("../images/carne-cerdo.jpg"); }

.bannerVacuno {
  background-image: url("../images/vacuno.jpg"); }

.bannerEmbutidos {
  background-image: url("../images/achuras.jpg"); }

.footer__section--ubicacion iframe {
  width: 100%;
  height: auto; }

.contactoFlex {
  display: flex;
  width: 100%; }
  .contactoFlex section {
    width: 50%; }

.procesos__div {
  display: flex;
  width: 100%; }

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .productos div {
    width: calc(33.33%);
    height: auto;
    text-align: center; }
  .productos img {
    margin: 15px;
    max-width: 100%;
    width: 200px;
    height: auto; }
    .productos img:hover {
      cursor: pointer;
      transition: 0.1s;
      transform: scale(1.05); }

.nosotros {
  text-align: center;
  width: 100%; }
  .nosotros iframe {
    width: 100%;
    height: 100%; }

.clientes__div {
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px; }
  .clientes__div img {
    height: 85px;
    padding: 5px;
    margin: 0 20px; }

.clientes {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 30px; }

.imgNosotros {
  width: 75%;
  height: auto; }

.procesos {
  padding: 50px;
  max-width: 100%;
  background-color: rgba(96, 125, 139, 0.12); }
  .procesos h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #576975;
    margin-top: 1.5rem; }

.procesos__div--columnas {
  height: auto;
  color: #000;
  box-sizing: border-box;
  position: relative;
  margin: 0px 10px;
  padding: 30px;
  width: calc(33.33%);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  background-color: #fff; }
  .procesos__div--columnas p {
    font-size: 16px; }

.formContacto {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: #26282c;
  padding: 50px; }
  .formContacto .form__divs {
    margin: 15px; }
    .formContacto .form__divs input, .formContacto .form__divs label {
      margin: 5px; }

.inputBotones {
  background-color: #000;
  padding: 15px;
  color: #fff;
  border: none;
  margin: 0 5px; }
  .inputBotones:hover {
    background-color: transparent;
    transition: .5s;
    color: #eb1b23;
    border: 1px solid #eb1b23; }

input.inputDatos {
  padding: 7px; }
  input.inputDatos:focus {
    transform: scale(1.05);
    transition: .5s; }

.form__divs--datos {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto; }
  .form__divs--datos input {
    margin: 7px; }

.historia--punto {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  content: "";
  display: block;
  top: 28px; }

.fecha {
  color: #eb1b23; }

.historia {
  width: 100%;
  background-color: #26282c;
  padding: 16px; }
  .historia h2 {
    color: #fff; }
  .historia .historiaDiv {
    max-width: 1080px;
    margin: 50px auto;
    position: relative; }
    .historia .historiaDiv .columna-2 {
      justify-content: flex-end; }
      .historia .historiaDiv .columna-2 section:before {
        left: -7px; }
      .historia .historiaDiv .columna-2 section .historia--punto {
        left: -47px; }
    .historia .historiaDiv .historiaDiv--columna {
      display: flex; }
      .historia .historiaDiv .historiaDiv--columna section {
        background: #fff;
        border-radius: 5px;
        width: calc(50% - 40px);
        padding: 20px;
        position: relative; }
        .historia .historiaDiv .historiaDiv--columna section .historia--detalles {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .historia .historiaDiv .historiaDiv--columna section .historia--detalles .historia--titulo {
            font-size: 22px;
            font-weight: 600;
            color: #576975; }
        .historia .historiaDiv .historiaDiv--columna section p {
          margin: 10px 0 17px 0; }
        .historia .historiaDiv .historiaDiv--columna section:before {
          position: absolute;
          content: "";
          height: 15px;
          width: 15px;
          background: white;
          top: 28px;
          transform: rotate(45deg); }
    .historia .historiaDiv .columna-1 {
      justify-content: flex-start; }
      .historia .historiaDiv .columna-1 section:before {
        right: -7px; }
      .historia .historiaDiv .columna-1 section .historia--punto {
        right: -47px; }
    .historia .historiaDiv .historia--linea {
      position: absolute;
      height: 70%;
      width: 2px;
      background: #fff;
      left: 50%;
      transform: translateX(-50%);
      top: 40px; }

/* Responsive */
@media (max-width: 71.25rem) {
  .nosotros {
    text-align: center;
    width: 100%; }
    .nosotros iframe {
      height: auto; }
  .banner, .bannerCerdo, .bannerVacuno, .bannerEmbutidos, .bannerCerdo, .bannerVacuno, .bannerEmbutidos {
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 14px; }
  .formContacto {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background: #26282c;
    padding: 15px; }
  .procesos__div {
    flex-direction: column; }
  .procesos__div--columnas {
    width: 100%;
    margin: 7px 0; }
  .clientes__div img {
    height: auto;
    width: 200px; }
  .contactoFlex {
    flex-direction: column-reverse; }
    .contactoFlex section {
      width: 100%; }
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .productos img {
      margin: 7px;
      max-width: 100%; }
    .productos div {
      width: 100%; } }

@media (max-width: 48rem) {
  .historia .historiaDiv .historia--linea {
    left: 18px;
    height: 75%; }
  .historia .historiaDiv .columna-1 section:before {
    left: -7px; }
  .historia .historiaDiv .historiaDiv--columna {
    margin: 30px 0 3px 60px; }
    .historia .historiaDiv .historiaDiv--columna section {
      width: 100%; }
      .historia .historiaDiv .historiaDiv--columna section .historia--punto {
        left: -50px; }
  .procesos {
    padding: 15px; }
  .clientes__div {
    padding: 0px;
    justify-content: center; } }

@media (max-width: 267px) {
  .productos img {
    max-width: 100%; }
  .nosotros img {
    max-width: 100%; } }

@media (max-width: 440px) {
  .historia .historiaDiv .historiaDiv--columna {
    margin: 10px 0; }
    .historia .historiaDiv .historiaDiv--columna section .historia--punto {
      display: none; }
    .historia .historiaDiv .historiaDiv--columna section:before {
      display: none; }
  .historia .historiaDiv .historia--linea {
    display: none; } }
