$rojologo: #eb1b23;
$blanco: #fff;
$shadow: 0 15px 45px rgb(0, 0, 0 / 10%);

.footer__section--ubicacion {
    iframe{
        width: 100%;
        height: auto;
    }
}

.banner, .bannerCerdo, .bannerVacuno, .bannerEmbutidos {
    color: $blanco;
    max-width: 100%;
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    a{
     background: $rojologo;
     padding: 17px 40px;
     line-height: 21px;
     font-size: 18px;
     color: $blanco;
     width: 180px;
     margin:15px 0;
     &:hover{
        background:transparent;
        color: $rojologo;
        border: 1px solid $rojologo;
        transition: .5s;
     }
    }
    h1{
     font-weight: 400;
     line-height: 1.2;
     letter-spacing: 0px;
     font-style: normal;
    }
}

.banner{
    background-image: url('../images/banner.jpg');
}

.bannerCerdo {
    background-image: url('../images/carne-cerdo.jpg');
}
.bannerEmbutidos {
    background-image: url('../images/achuras.jpg');
}
.bannerVacuno{
    background-image: url('../images/vacuno.jpg');
}

.historia{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background-color: #26282c;
    max-width: 100%;
    h2{
        color: $blanco;
    }
}

.historia__div{
    border-radius: 10px;
    margin: 15px auto;
    padding: 15px;
    width: 600px;
    height: 300px;
    background-color: $blanco;
    h3{
        margin-top:0;
    }
}

.contactoFlex{
    display: flex;
    width: 100%;
    section{
        width: 50%;
    }
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        margin: 15px;
        max-width: 100%;
        width: 320px;
        height: auto;
        &:hover{
            cursor: pointer;
            transition: 0.1s;
            transform: scale(1.05);
        }
    }
}

.nosotros {
    text-align: center;
    width: 100%;
    padding: 15px;
}

.clientes__div {
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    img{
        height: 85px;
        padding: 5px 5px 5px 5px;
        margin: 0 25px 0 25px;
    }
}

.clientes {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.imgNosotros {
        width: 75%;
        height: auto;  
}

.procesos {
    padding: 15px;
    max-width: 100%;
    h2{
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        color: #576975;
        margin-top: 1.5rem;
    }
}

.procesos__div--columnas {
    height: auto;
    color:#000;
    box-sizing: border-box;
    position: relative;
    margin: 0px 10px;
    padding: 30px;
    width: calc(33.33%);
    border: 2px solid $rojologo;
    border-radius: 10px;
    &:hover {
        box-shadow: $shadow;
        border: transparent;
        transition: .3s;
    }
}

.procesos__div {
    display: flex;
    width: 100%;
}

.formContacto {
    text-align: center;
    width: 25%;
    margin: 0 auto;
    color: $blanco;
    background: #26282c;
    .form__divs{
        margin:15px;
        input,label {
            margin: 5px;
        }
    }
}

.inputBotones {
    background-color: #000;
    padding: 15px;
    color: $blanco;
    border:none;
    margin: 0 5px;
    &:hover{
        background-color: transparent;
        transition: .5s;
        color: $rojologo;
        border: 1px solid $rojologo;
    }
}

 input.inputDatos {
    padding: 7px;
    &:focus {
        transform: scale(1.05);
        transition: .5s;
    }
}

.form__divs--datos {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
    input{
        margin:7px;
    }
}

/* Responsive */
@media (max-width:71.25rem){
    .nosotros {
        text-align: center;
        width: 100%;
        padding: 15px;
        img{
            max-width: 100%;
        }
    }
    
    .banner, .bannerCerdo, .bannerVacuno, .bannerEmbutidos {
        align-items: center;
        text-align: center;
        padding: 0;
        font-size: 14px;
    }
    
    .formContacto {
        text-align: center;
        width: 25%;
        margin: 0 auto;
        color: $blanco;
        background: #26282c;
    }
    
    .procesos__div {
        flex-direction: column;
    }
    
    .procesos__div--columnas {
        width: 100%;
        margin:7px 0;
    }
    
    .clientes__div {
        img{
            height: auto;
            width: 200px;
        }
    }
     
    .contactoFlex{
       flex-direction: column;
       section{
        width: 100%;
    }
    }

    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img{
            margin: 7px;
            max-width: 100%;
        }
    }
    
    .historia__div{
            width: 100%;
            height: auto;
        }}
    
    @media (max-width: 267px){
        .productos{
            img{
                max-width: 100%;
            }
        }
    
        .nosotros {
            img{
                max-width: 100%;
            }
        }}