$rojologo: #eb1b23;
$blanco: #fff;
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


/** MAP, GET-MAP Y EXTEND **/
$backgroundimg: (Inicio:url("../images/flesh-gbfc13463e_1920.jpg"),Vacuno:url("../images/vacuno.jpg"),Cerdo:url("../images/skewer-ga9c42199d_1920.jpg"),Embutidos:url("../images/barbecue-ga2940bd99_1920.jpg"));

@mixin sizes($max-width, $height){
    max-width: $max-width;
    height: $height;
}

.banner {
    color: $blanco;
    @include sizes(100%, 100vh);
    padding: 40px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-image: map-get($backgroundimg, Inicio);
    a{
     background: $rojologo;
     padding: 17px 40px;
     line-height: 21px;
     font-size: 18px;
     color: $blanco;
     width: 180px;
     margin:15px 0;
     &:hover{
        background:transparent;
        color: $rojologo;
        border: 1px solid $rojologo;
        transition: .5s;
     }
    }
    h1{
     font-weight: 400;
     line-height: 1.2;
     letter-spacing: 0px;
     font-style: normal;
    }
}

.bannerCerdo {
    @extend .banner;
    background-image: map-get($backgroundimg, Cerdo);
}

.bannerVacuno {
    @extend .banner;
    background-image: map-get($backgroundimg, Vacuno);
}

.bannerEmbutidos {
    @extend .banner;
    background-image: map-get($backgroundimg, Embutidos);
}


.footer__section--ubicacion {
    iframe{
        width: 100%;
        height: auto;
    }
}

.footer__section {
    .footer__section--i{
        display: flex;
    flex-direction: column;
        i{
            margin: .5rem 0px;
            a{
                font-weight: 400;
            }
          &::before{
            margin: 0px 10px;
            font-size: 1rem;
            color: $rojologo;
          }
        }
    }
}

.contactoFlex{
    display: flex;
    width: 100%;
    section{
        width: 50%;
    }
}

.procesos__div {
    display: flex;
    width: 100%;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
        width: calc(31.89%);
        height: auto;
        text-align: center;
        margin: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    img {
        margin: 15px;
        max-width: 100%;
        width: 200px;
        height: auto;
        &:hover{
            cursor: pointer;
            transition: 0.1s;
            transform: scale(1.05);
        }
    }
}

.nosotros {
    text-align: center;
    width: 100%;
    iframe {
        width: 100%;
        height: 100%;
    }
}

.clientes__div {
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
    img{
        height: 85px;
        padding: 5px;
        margin: 0 20px;
    }
}

.clientes {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.imgNosotros {
        width: 75%;
        height: auto;  
}

.procesos {
    padding: 50px;
    max-width: 100%;
    background-color: rgba(96, 125, 139, 0.12);
    h2{
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        color: #576975;
        margin-top: 1.5rem;
    }
}

.procesos__div--columnas {
    height: auto;
    color:#000;
    box-sizing: border-box;
    position: relative;
    margin: 0px 10px;
    padding: 30px;
    width: calc(33.33%);
    border-radius: 10px;
    box-shadow: $shadow;
    text-align: center;
    background-color: $blanco;
    p{
     font-size: 16px;
    }
    i {
        color: $rojologo;
        font-size: 4rem;
    }
}

.formContacto {
    form{
        max-width: 100%;
        padding: 25px;
    }
    text-align: center;
    margin: 0 auto;
    color: $blanco;
    background: #26282c;
    padding: 50px;
    .form__divs{
        margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        input{
            width: 100%;
        }
    }
}

.inputBotones {
    background-color: $rojologo;
    padding: 12px 18px;
    color: $blanco;
    border:none;
    &:hover{
        background-color: transparent;
        transition: .5s;
        color: $rojologo;
        border: 1px solid $rojologo;
    }
}

 input.inputDatos {
    padding: 7px;
    &:focus {
        transform: scale(1.05);
        transition: .5s;
    }
}

.form__divs--datos {
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        margin:15px;
        width: 100%;
    }
}

.historia--punto {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    top: 28px;
}

.fecha {
    color: $rojologo;
}

.historia {
    width: 100%;
    background-color: #26282c;
    padding: 16px;
    h2{
        color: $blanco;
    }
    .historiaDiv {
        max-width: 1080px;
        margin: 50px auto;
        position: relative;
        .columna-2 {
            justify-content: flex-end;
            section {
                &:before {
                    left: -7px;
                }
                .historia--punto {
                    left: -47px;
                }
            }
        }
        .historiaDiv--columna {
            display: flex;
            section {
                background: #fff;
                border-radius: 5px;
                width: calc(50% - 40px);
                padding: 20px;
                position: relative;
                .historia--detalles {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .historia--titulo {
                        font-size: 22px;
                        font-weight: 600;
                        color: #576975;
                    }
                }
                p {
                    margin: 10px 0 17px 0;
                }
                &:before {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    background: white;
                    top: 28px;
                    transform: rotate(45deg);
                }
            }
        }
        .columna-1 {
            justify-content: flex-start;
            section {
                &:before {
                    right: -7px;
                }
                .historia--punto {
                    right: -47px;
                }
            }
        }
        .historia--linea {
            position: absolute;
            height: 70%;
            width: 2px;
            background: #fff;
            left: 50%;
            transform: translateX(-50%);
            top: 40px;
        }
    }
}

/* Responsive */
@media (max-width:71.25rem){
    .nosotros {
        text-align: center;
        width: 100%;
        iframe{
            height: auto;
        }
    }
    
    .banner, .bannerCerdo, .bannerVacuno, .bannerEmbutidos {
        align-items: center;
        text-align: center;
        padding: 0;
        font-size: 14px;
        h1 {
            font-size: 24px;
        }
    }
    
    .formContacto {
        text-align: center;
        margin: 0 auto;
        color: $blanco;
        background: #26282c;
        padding: 15px;
    }
    
    .procesos__div {
        flex-direction: column;
    }
    
    .procesos__div--columnas {
        i{
            font-size: 1.5rem;  
        }
        width: 100%;
        margin:7px 0;
    }
    
    .clientes__div {
        img{
            height: auto;
            width: 200px;
        }
    }
     
    .contactoFlex{
       flex-direction: column-reverse;
       section{
        width: 100%;
    }
    }

    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img{
            margin: 7px;
            max-width: 100%;
        }
        div {
            width: 100%;
        }
    }}

@media (max-width:48rem){
    .historia{
        .historiaDiv {
            .historia--linea{
                left: 18px;
                height: 75%;
            }
            .columna-1 {
                section{
                    &:before {
                left: -7px;
            }}}
            .historiaDiv--columna {
                margin: 30px 0 3px 60px;
                section {
                    width: 100%;
                    .historia--punto {
                        left: -50px;
                    }
                }
            }
        }
    }

    .procesos{
        padding: 15px;
    }
    .clientes__div{
        padding: 0px;
        justify-content: center;
    }
    
}

    @media (max-width: 267px){
        .productos{
            img{
                max-width: 100%;
            }
        }
    
        .nosotros {
            img{
                max-width: 100%;
            }
        }}

        @media (max-width:440px){
           .historia{
            .historiaDiv{
                .historiaDiv--columna{
                    margin: 10px 0;
                    section{
                        .historia--punto{
                            display: none;
                        }
                        &:before{
                            display: none;
                        }
                    }
                }
                .historia--linea{
                    display: none;
                }
            }
           }
            
        }

        